apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: goi-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/<your-github-username>/GOI.git'
    targetRevision: main
    path: k8s
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: goi
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

