apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: goi-postgres-pvc
  namespace: goi
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: goi-postgres
  namespace: goi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: goi-postgres
  template:
    metadata:
      labels:
        app: goi-postgres
    spec:
      containers:
        - name: postgres
          image: postgres:14
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: goi-postgres-secret
                  key: POSTGRES_DB
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: goi-postgres-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: goi-postgres-secret
                  key: POSTGRES_PASSWORD
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: goi-postgres-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: goi-postgres
  namespace: goi
spec:
  selector:
    app: goi-postgres
  ports:
    - port: 5432
      targetPort: 5432

